In [48]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 4000
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 50)

In [151]:
dtypes = {'DOB':'datetime64'}
date_cols = ['DOB','dateReceivedOriginal','dateReceivedCurrent','latestReleaseDate','paroleHearingDate','maxExpirationDateParole','postReleaseMaxExpiration','paroleBoardDischargeDate']
date_cols_unpure = ['earliestRelaseDate','paroleEligibilityDate','conditionalReleaseDate','maxExpirationDate']
transition_table_cols = ['custodyStatus','dateReceivedOriginal','latestReleaseDate','earliestReleaseDate','minSentence','maxSentence']

In [187]:
df = pd.read_csv("/Users/jazz/proj/doc-scraper/ny_inmate_data/inmates2018.csv",index_col=0,parse_dates=date_cols,na_filter=False)
# df = pd.read_csv("/Users/jazz/proj/doc-scraper/ny_inmate_data/inmates2018.csv",index_col=0,na_filter=False)
a1 = df#[df.class1=='C']

dfs = [pd.read_csv("/Users/jazz/proj/doc-scraper/ny_inmate_data/inmates"+str(year)+".csv",index_col=0,parse_dates=date_cols,na_filter=False) for year in range(2015,2020)]

In [194]:
dfs[0]

                    name   sex        DOB       race custodyStatus     housing dateReceivedOriginal dateReceivedCurrent admissionType    county latestReleaseDate            latestReleaseType  minSentence  maxSentence earliestReleaseDate earliestReleaseType paroleHearingDate                        paroleHearingType paroleEligibilityDate conditionalReleaseDate maxExpirationDate maxExpirationDateParole postReleaseMaxExpiration paroleBoardDischargeDate                         crime1 class1                         crime2 class2 crime3 class3 crime4 class4
DIN
15A0001     JORDAN RAPAN  MALE 1993-08-13      WHITE      RELEASED      GREENE           2015-01-02          2019-05-06                  GREENE        2020-04-01         PAROLE DIV OF PAROLE         0.00          5.0                                                2020-02-01                       RELEASE CONDITIONS                                         NONE        09/16/2019                     NaT               2034-08-29                      NaT                       RAPE 1ST      B
15A0002  SHAKAR B MELVIN  MALE 1994-06-17      BLACK      RELEASED      GREENE           2015-01-02          2017-11-10                  ORANGE        2018-09-27         PAROLE DIV OF PAROLE         1.71          4.0                                                       NaT                             FULL MAXIMUM            10/07/2015                   NONE        01/20/2018                     NaT               2019-03-13                      NaT         ATT CRIM POSS WEAP 2ND      D
15A0003     KYLE M PESCE  MALE 1992-12-04      WHITE      RELEASED    LAKEVIEW           2015-01-02          2015-01-02                  ORANGE        2016-02-04         PAROLE DIV OF PAROLE         3.00          8.0                                                2015-12-01               INITIAL RELEASE APPEARANCE            07/24/2017             11/24/2019        07/24/2022                     NaT                      NaT               2017-07-24               ATT BURGLARY 3RD      E                   BURGLARY 3RD      D
15A0004  ROBERT D KNIGHT  MALE 1972-02-21      BLACK      RELEASED     GOWANDA           2015-01-02          2015-01-02                  ORANGE        2017-05-15         PAROLE DIV OF PAROLE         1.33          4.0                                                2017-09-01        OPEN DATE/6 MO AFTER REAPPEARANCE            02/02/2016             06/02/2017        10/02/2018                     NaT                      NaT                      NaT  DWI:ALCOHOL/DRUGS-2ND OFFENSE      E  DWI:ALCOHOL/DRUGS-3RD OFFENSE      D
15A0005    LARRY PROCTOR  MALE 1976-06-10      WHITE      RELEASED  WASHINGTON           2015-01-02          2015-01-02                  ORANGE        2015-10-15         PAROLE DIV OF PAROLE         1.00          3.5                                                2015-12-01  APPROVED OPEN DATE/6 MO AFT INIT APPEAR            10/15/2015             02/15/2017        04/15/2018                     NaT                      NaT               2017-10-15                   BURGLARY 3RD      D
...                  ...   ...        ...        ...           ...         ...                  ...                 ...           ...       ...               ...                          ...          ...          ...                 ...                 ...               ...                                      ...                   ...                    ...               ...                     ...                      ...                      ...                            ...    ...                            ...    ...    ...    ...    ...    ...
15R3130   EFRAIN SANCHEZ  MALE 1968-02-11   HISPANIC      RELEASED  QUEENSBORO           2015-12-29          2015-12-29                NEW YORK        2017-11-16  PAROLE - COND REL TO PAROLE         2.00          4.0                                                       NaT                             FULL MAXIMUM            04/21/2017                   NONE        05/16/2022                     NaT               2022-05-16                      NaT       AGGRAVATED CRIM CONTEMPT      D
15R3131      PAUL SMALLS  MALE 1978-06-21      BLACK      RELEASED  QUEENSBORO           2015-12-29          2015-12-29                   KINGS        2017-04-27  PAROLE - COND REL TO PAROLE         2.56          3.0                                                       NaT                             FULL MAXIMUM            04/30/2017             04/30/2017        10/06/2017                     NaT               2022-04-27                      NaT         ATT CRIM POSS WEAP 2ND      D
15R3132    DISHAWN SMITH  MALE 1984-01-20  NATIVE AM      RELEASED   EDGECOMBE           2015-12-29          2019-06-19                NEW YORK        2019-08-01         PAROLE DIV OF PAROLE         2.00          4.0                                                2019-08-01      PAROLE VIOLATOR ASSESSED EXPIRATION            04/27/2017                   NONE        02/25/2020                     NaT                      NaT                      NaT      CRIM POSS FORGED INST 2ND      D
15R3133  KADEEM THOMPSON  MALE 1992-04-14      BLACK      RELEASED      GREENE           2015-12-29          2015-12-29                  QUEENS        2016-10-27  PAROLE - COND REL TO PAROLE         1.00          3.0                                                       NaT                             FULL MAXIMUM            06/08/2015             10/27/2016        06/08/2017                     NaT                      NaT                      NaT                ATT ASSAULT 2ND      E
15R3134       JUAN VILLA  MALE 1956-07-29   HISPANIC      RELEASED  ADIRONDACK           2015-12-29          2015-12-29                   BRONX        2016-09-19  PAROLE - COND REL TO PAROLE         0.00          2.0                                                       NaT                             FULL MAXIMUM                                         NONE        11/05/2018                     NaT               2018-11-05                      NaT                    ASSAULT 2ND      D

[13293 rows x 32 columns]

In [199]:
counts = [df.DOB.count() for df in dfs]

In [200]:
counts

[13293, 13570, 13514, 12352, 11105]

In [166]:
a1 = a1[transition_table_cols]
a1

        custodyStatus dateReceivedOriginal latestReleaseDate earliestReleaseDate  minSentence  maxSentence
DIN
18A0001      RELEASED           2018-01-02        2020-07-16                             3.84         4.50
18A0002      RELEASED           2018-01-02        2018-12-06                             1.50         4.73
18A0003      RELEASED           2018-01-02        2018-09-11                             1.50         3.00
18A0004      RELEASED           2018-01-02        2020-03-16                             1.50         3.00
18A0005      RELEASED           2018-01-02        2019-11-18                             2.00         4.00
...               ...                  ...               ...                 ...          ...          ...
18R2850      RELEASED           2018-12-31        2020-03-17                             0.00         2.00
18R2851    IN CUSTODY           2018-12-31               NaT          02/23/2021         0.00         3.00
18R2852    IN CUSTODY           2018-12-31               NaT          03/30/2022         3.50         7.00
18R2853      RELEASED           2018-12-31        2020-03-19                             2.00         4.00
18R2854    IN CUSTODY           2018-12-31               NaT          06/25/2022         0.00         5.00

[12352 rows x 6 columns]

In [167]:
indices = a1.earliestReleaseDate.isin(['LIFE','NONE'])
a1[indices]

        custodyStatus dateReceivedOriginal latestReleaseDate earliestReleaseDate  minSentence  maxSentence
DIN
18A1233    IN CUSTODY           2018-03-27               NaT                NONE          0.0          3.0
18A2038    IN CUSTODY           2018-05-21               NaT                LIFE        100.0        100.0
18A2375    IN CUSTODY           2018-06-14               NaT                LIFE        100.0        100.0
18A3114    IN CUSTODY           2018-08-09               NaT                LIFE        100.0        100.0
18B1408    IN CUSTODY           2018-05-24               NaT                NONE          0.0          1.5
18B3254    IN CUSTODY           2018-12-11               NaT                LIFE        100.0        100.0
18G0470    IN CUSTODY           2018-05-23               NaT                LIFE        100.0        100.0

In [171]:
a1.loc[a1.earliestReleaseDate.isin(['LIFE','NONE']), 'earliestReleaseDate'] = '2/22/2222'
a1[indices]
pd.to_datetime(a1.earliestReleaseDate, errors='coerce')

DIN
18A0001          NaT
18A0002          NaT
18A0003          NaT
18A0004          NaT
18A0005          NaT
             ...
18R2850          NaT
18R2851   2021-02-23
18R2852   2022-03-30
18R2853          NaT
18R2854   2022-06-25
Name: earliestReleaseDate, Length: 12352, dtype: datetime64[ns]

In [179]:
# print(a1.rows)
a1['end_date'] = a1.latestReleaseDate.combine_first(a1.earliestReleaseDate)
a1.head()

<ipython-input-179-41f8ec6f9bfc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a1['end_date'] = a1.latestReleaseDate.combine_first(a1.earliestReleaseDate)

        custodyStatus dateReceivedOriginal latestReleaseDate earliestReleaseDate  minSentence  maxSentence   end_date
DIN
18A0001      RELEASED           2018-01-02        2020-07-16                             3.84         4.50 2020-07-16
18A0002      RELEASED           2018-01-02        2018-12-06                             1.50         4.73 2018-12-06
18A0003      RELEASED           2018-01-02        2018-09-11                             1.50         3.00 2018-09-11
18A0004      RELEASED           2018-01-02        2020-03-16                             1.50         3.00 2020-03-16
18A0005      RELEASED           2018-01-02        2019-11-18                             2.00         4.00 2019-11-18

In [180]:
a1.dtypes

custodyStatus                   object
dateReceivedOriginal    datetime64[ns]
latestReleaseDate       datetime64[ns]
earliestReleaseDate             object
minSentence                    float64
maxSentence                    float64
end_date                datetime64[ns]
dtype: object

In [184]:
a1['LOS'] = a1.end_date - a1.dateReceivedOriginal
a1

<ipython-input-184-7c2ca481f7ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a1['LOS'] = a1.end_date - a1.dateReceivedOriginal

        custodyStatus dateReceivedOriginal latestReleaseDate earliestReleaseDate  minSentence  maxSentence   end_date       LOS
DIN
18A0001      RELEASED           2018-01-02        2020-07-16                             3.84         4.50 2020-07-16  926 days
18A0002      RELEASED           2018-01-02        2018-12-06                             1.50         4.73 2018-12-06  338 days
18A0003      RELEASED           2018-01-02        2018-09-11                             1.50         3.00 2018-09-11  252 days
18A0004      RELEASED           2018-01-02        2020-03-16                             1.50         3.00 2020-03-16  804 days
18A0005      RELEASED           2018-01-02        2019-11-18                             2.00         4.00 2019-11-18  685 days
...               ...                  ...               ...                 ...          ...          ...        ...       ...
18R2850      RELEASED           2018-12-31        2020-03-17                             0.00         2.00 2020-03-17  442 days
18R2851    IN CUSTODY           2018-12-31               NaT          02/23/2021         0.00         3.00 2021-02-23  785 days
18R2852    IN CUSTODY           2018-12-31               NaT          03/30/2022         3.50         7.00 2022-03-30 1185 days
18R2853      RELEASED           2018-12-31        2020-03-19                             2.00         4.00 2020-03-19  444 days
18R2854    IN CUSTODY           2018-12-31               NaT          06/25/2022         0.00         5.00 2022-06-25 1272 days

[12352 rows x 8 columns]